<main class="bsod container">
    <h1 class="neg title"><span class="bg">Error - 404</span></h1>
    <div class=" flex justify-center items-center">
      <img class="img-fuild md:w-2/3 " src="https://firebasestorage.googleapis.com/v0/b/mayaramein-portfolio.appspot.com/o/404%2F404.png?alt=media&token=681316f4-d2b5-4f02-bc71-cd581b8f9e7c" alt="404 - error" />
    </div>
    <p>An error has occured, to continue:</p>
    <p>* Return to homepage.<br />
    <nav class="nav space-x-8">
      <a routerLink="/home" >Home</a>
      <a routerLink="/portfolio" >Portfolio</a>
      <a routerLink="/about" >About</a>
    </nav>
  </main>