@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');/* global css */

$body-font: 'Roboto Mono', sans-serif;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

@media screen and (min-width: 968px){
    $biggest-font-size: 3rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}

$font-semi-bold: 600;
$font-bold: 700;