<div class="flex justify-center light-color">
    <a href="https://linkedin.com/in/mayaramein" target="_blank">
      <i class="fa-brands fa-linkedin-in px-3"></i>
    </a>
    <a href="https://github.com/mayaramein" target="_blank">
      <i class="fa-brands fa-github px-3"></i>
    </a>
    <a href="https://kaggle.com/mayaramein" target="_blank">
      <i class="fa-brands fa-kaggle px-3"></i>
    </a>
    <a href="https://www.behance.net/mayaramein" target="_blank">
      <i class="fa-brands fa-behance px-3"></i>
    </a>
    <a href="https://instagram.com/mayaramein" target="_blank">
      <i class="fa-brands fa-instagram px-3"></i>
    </a>
    <a href="https://twitter.com/mayaramein">
      <i class="fa-brands fa-twitter  px-3"></i>
    </a>
    <a href="https://www.facebook.com/mayaramein">
      <i class="fa-brands fa-facebook  px-3"></i>
    </a>
</div>
